$color: #1b1634;
$first-color: #ec780c;
$second-color: #ff6961;
$text-color: #fff;
$shadow-color: #3b31ac;
$correct-color: #2fff00;
$completado-color: #47a432;
$black-color: #0e0d12;
$grey-color: #353444;