@import './variables.scss';
@import './mixins.scss';
@import './keyframes.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DynaPuff:wght@400;700&family=Inter:wght@300;500&family=Open+Sans&family=Oswald:wght@300;500;700&family=Raleway:wght@400;700&family=Roboto+Mono:wght@300;400&display=swap');
@import './variables.scss';

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
	font-family: 'Roboto Mono';
	color: $text-color;
}

img{
	width: 80%;
}

main{
	padding: 10px;
	max-width: 730px;
	height: 700px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	.section1{
		padding: 0 10px 10px 10px;
		border-radius: 8px;
		background-color: rgba(255, 255, 255, 0.2);
		h1{
			text-align: center;
		}
		button{
			height: 85px;
			width: 85px;
			font-size: 30px;
			color: $text-color;
			font-weight: bold;
			&:hover{
				cursor: pointer;
			}
		}
	}

	.section2{
		background-color: rgba(255, 255, 255, 0.2);
		width: 100%;
		height: auto;
		padding: 10px;
		border-radius: 8px;
		.estadisticas{
			border: 1px solid $text-color;
			height: 70px;
			border-radius: 8px;
			padding: 10px;
			box-sizing: border-box;
		}
	}
}

.modal{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 0.9;
	color: red;
	font-weight: bold;
	font-size: 25px;
}

.invisible{
	display: none;
}

footer{
	width: 100%;
	margin-top: 20px;
	padding: 20px;
	position: fixed;
	bottom: 0px;
	text-align: center;
	a{
		text-decoration: none;
	}
}








@media screen and (min-width: 768px){
	main{
		.section1{
			button{
				height: 120px;
				width: 120px;
				font-size: 40px;
			}
		}
	
		.section2{
			width: 500px;
			padding: 20px;
			.estadisticas{
				height: 105px;
				border-radius: 8px;
			}
		}
	}
}




@media screen and (min-width: 1024px){
	main{
		margin: 30px auto;
		flex-direction: row;
		height: auto;
		.section1{
			button{
				height: 120px;
				width: 120px;
				font-size: 40px;
			}
		}
	
		.section2{
			width: 250px;
			height: auto;
			padding: 20px;
			.estadisticas{
				border: 1px solid $text-color;
				height: 105px;
				padding: 8px 20px;
			}
		}
	}
}